certifi==2020.6.20
cffi==1.14.0
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1593623337153/work
cycler==0.10.0
cytoolz==0.10.1
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1596244567871/work
decorator==4.4.2
h5py @ file:///tmp/build/80754af9/h5py_1593454121459/work
imagecodecs-lite @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs-lite_1591047250666/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
kiwisolver==1.2.0
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-base_1595353103837/work
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
networkx==2.4
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1596233737064/work
olefile==0.46
opencv-python==4.3.0.36
Pillow @ file:///tmp/build/80754af9/pillow_1594307298074/work
Polygon3==3.0.8
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
scikit-image==0.17.2
scipy @ file:///tmp/build/80754af9/scipy_1592930540905/work
six==1.15.0
tifffile==2019.7.26.2
toolz==0.10.0
torch==1.1.0
torchvision==0.3.0
tornado==6.0.4
